.footer {
    background: #1b1b1b;
    position: sticky;
    z-index: 1;
    width: 100%;
    text-align: center;
    padding: 25px 0;

    .footer-content {
        color: #6b6b6b;
        font-size: 12px;
        display: flex;
        justify-content: center;
        
        a {
            color: #6b6b6b;
            padding: 0 20px;
            text-decoration: none;
        }

        a:hover {
            color: #ffffff;
        }
    
        a:visited {
            color: #6b6b6b;
          }
    }
}