@import '../../styles.scss';
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gothic+A1&display=swap');

$logo-width: 75%;

.flex-container {
  display: flex;
  flex-direction: column;
}

.landing-img {
  background-image: url(../../assets/images/background-v2.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;

  .sticky {
    opacity: 1;
    top: 37%;
    width: 100%;
    z-index: 1;
  }
  
  .sticky-img {
    display: block;
    margin: auto;
    width: $logo-width;
    opacity: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
  }
}

.section {
  background: #1b1b1b;
  font-family: 'Lora', serif;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;

  // &.section:last-child {
  //   padding: 50px 0;
  // }

  // @media only screen and (max-width: 501px) {
  //   &.section:last-child {
  //     height: auto;
  //   }
  // }
}

.copy-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding-right: 10%;
  padding-left: 10%;
  position: relative;
  z-index: 5;

  .copy {
    color: #ffffff;
    font-size: 3vw;
    
    @media only screen and (max-width: 501px) {
      font-size: 6vw;
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Gothic A1', sans-serif;
  width: 40%;
  margin: 0 auto; 
  overflow-x: hidden;

  @media only screen and (max-width: 1024px) {
    width: 85%;
  }

  .form-header {
    color: dimgray;
    font-family: 'Gothic A1', sans-serif;
    text-transform: uppercase;
  }

  .form-control {
    font-size: 12px;
    margin: 10px 0;
  }
  
  textarea {
    resize: none;
    width: 100%;
  }
  
  label {
    color: lightgray;
    float: left;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    margin: 5px 0;
  }
  
  input {
    height: 30px;
    width: 100%;
  }
  
  button[type=submit] {
    background: rebeccapurple;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    float: left;
    font-family: 'Gothic A1', sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 60px;
    width: 30%;
    margin-top: 20px;
    
    @media only screen and (max-width: 501px) {
      height: 50px;
      width: 50%;
    }
  }
  
  .error-msg {
    color: red;
    font-size: 12px;
  }
  
  input.ng-invalid.ng-touched {
    border: 1px solid red;
  }
  
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: 'Gothic A1', sans-serif;
    line-height: 12;
    padding-left: 5px;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-family: 'Gothic A1', sans-serif;
    line-height: 12;
    padding-left: 5px;
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-family: 'Gothic A1', sans-serif;
    line-height: 12;
    padding-left: 5px;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-family: 'Gothic A1', sans-serif;
    line-height: 12;
    padding-left: 5px;
  }
}